body{
    background: #f1f1f1;
}
button a {
    text-decoration: none;
}
button a.active{
    color: #e9b300;
    text-decoration:underline;
    background: #d1d1d1;
}
li a {
    text-decoration: none;
    color: #4583bd;
}

